.grid-header,
.grid-row {
  grid-template-columns: 2.5fr 2fr 2.5fr 1fr 1.5fr 1fr 1fr;
}

.button-group {
  width: 50%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}
