.main-container-header {
  width: 100%;
  top: 0px;
  height: 30px;
  text-align: center;
}

.main-container-content {
  display: grid;
  grid-template-columns: 5fr 5fr;
}

.main-container-content .left-side {
  height: 650px;
  grid-column: 1;
}

.main-container-content .right-side {
  grid-column: 2;
}
