<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect root to /nature-help/ -->
        <rule name="Redirect root to nature-help" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/nature-help/" redirectType="Permanent" />
        </rule>
        
        <!-- Redirect /nature-help to /nature-help/ -->
        <rule name="Redirect nature-help to trailing slash" stopProcessing="true">
          <match url="^nature-help$" />
          <action type="Redirect" url="/nature-help/" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

