@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}

n-root,
n-main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.cluster-wrapper {
  background-color: transparent;
  border: none;
}

.cluster {
  width: 40px;
  height: 40px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.lab-cluster {
  background-image: url("./assets/icons/map/lab.png");
  color: white;
}

.water-def-cluster {
  background: #4285f4;
  color: white;
}

.soil-def-cluster {
  background: brown;
  color: white;
}

.navbar {
  position: sticky;
  height: 56px;
  background: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.main-container {
  display: flex;
  height: 100vh;
  padding-top: 56px;
}

@media (max-height: 400px) and (orientation: landscape) {
  html,
  body,
  .main-container {
    overflow: hidden;
    width: 100%;
    font-size: 12px;
  }

  .main-container {
    flex-direction: row;
    height: 100vh;
    padding-top: 56px;
  }
}
