form {
  border: 5px solid gray;
}

label {
  margin: 5px;
  border: 2px solid greenyellow;
  padding: 5px;
  font-size: 18px;
}

input {
  padding: 5px;
  font-size: 18px;
  margin: 10px;
  border: 2px solid orange;
}

button {
  display: inline;
  margin-left: 78%;
  width: 20%;
  height: fit-content;
  padding: 10px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: blueviolet;
  border: solid 2px blueviolet;
  border-radius: 15px;
  padding: 0auto;
  word-wrap: break-word;
  background-color: orange;
}
